/******************** SECTION THREE ********************/
.section-three {
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow-x: hidden;
}

.circle {
  width: 60rem;
  height: 60rem;
  background-color: rgba(238, 234, 234, 71%);
  border-radius: 50%;
  position: absolute;
  top: -20rem;
  right: -15rem;
  z-index: -1;
}

.left-side {
  padding-top: 10rem;
}

.left-side img {
  width: 40vw;
  height: auto;
}

.right-side {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  margin-right: 10rem;
}

.right-side h1 {
  font-size: 3.5rem;
  font-weight: 600;
  font-family: "Simonetta", cursive;
  letter-spacing: 0.1rem;
}

.right-side h2 {
  font-size: 3.5rem;
  font-weight: 600;
  font-family: "Simonetta", cursive;
  letter-spacing: 0.1rem;
  align-self: flex-start;
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.right-side p {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.2rem;
  line-height: 5rem;
}

.right-side p:last-child {
  align-self: flex-start;
  margin-top: 3rem;
}

@media (max-width: 900px) {
  .left-side {
    display: none;
  }

  .section-three {
    justify-content: center;
    align-items: center;
  }

  .right-side {
    align-items: flex-start;
  }

  html {
    font-size: 50%;
  }
}

@media (max-width: 1600px) {
  html {
    font-size: 60%;
  }
}
