/******************** CONTACT ********************/
.contact {
  display: flex;
  width: 100vw;
  height: 90vh;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.contact h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1.5rem;
  padding-top: 7rem;
}

.contact p {
  font-size: 2.2rem;
}

.left-side {
  padding-left: 1rem;
  width: 40%;
  height: 80vh;
  box-shadow: 0.2rem 0.5rem 0.4rem rgba(0, 0, 0, 13%);
  margin-top: 10vh;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  background: linear-gradient(
    #dcdcdc,
    #f5eff1,
    #faf7f7,
    rgba(221, 228, 230, 92.2%),
    rgba(185, 218, 222, 85.78%),
    rgba(128, 168, 172, 66.5%),
    rgba(6, 90, 96, 47%),
    rgba(6, 90, 96, 54%),
    rgba(6, 90, 96, 77%)
  );
  border-radius: 0 1rem 1rem 0;
  display: flex;
  justify-content: space-between;
}

.circle-contact {
  background-color: white;
  width: 40vh;
  height: 40vh;
  border-radius: 50%;
  position: absolute;
  left: 32vw;
  top: 40%;
}

.phone-contact {
  position: absolute;
  left: 32vw;
  top: 60vh;
}

.contact-wrapper {
  display: flex;
  align-items: center;
}

.gmail-contact {
  margin-bottom: 3rem;
}

.gmail-contact img,
.linked-contact img {
  margin-right: 2.5rem;
  width: 5.5rem;
  height: auto;
  object-fit: contain;
}

.contact-wrapper a {
  color: black;
  transition: all 0.1s;
}

.gmail-contact a:hover {
  color: #ce493b;
  transform: translateY(0.2rem);
}

.linked-contact a:hover {
  color: #308deb;
  transform: translateY(0.2rem);
}

.footer-contact p:first-child {
  font-weight: 500;
  margin-bottom: 2rem;
}

.footer-contact p:last-child {
  width: 75%;
  font-size: 2.2rem;
}

.social-container-footer {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.social-container-footer img {
  margin-right: 2rem;
  width: 6rem;
  object-fit: cover;
  transition: all 0.3s;
}

.social-container-footer img:hover {
  transform: scale(1.2) translateY(-0.7rem);
}

.form-wrapper form {
  width: 50rem;
  height: 60rem;
  box-shadow: 0px 0.962602px 3.85041px 1px rgba(0, 0, 0, 0.2);
  margin-left: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.form-wrapper .mail-input {
  margin-top: 5rem;
  width: 100%;
  height: 6rem;
  background: #ededed;
  padding: 1rem 2rem;
  font-size: 1.7rem;
  box-shadow: inset 0px 1.9252px 2.92039px rgba(0, 0, 0, 0.15);
}

.form-wrapper .message-input {
  width: 100%;
  height: 30rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  background: #ededed;
  padding: 1rem 2rem;
  font-size: 1.7rem;
  resize: none;
  box-shadow: inset 0px 1.9252px 2.92039px rgba(0, 0, 0, 0.15);
}

.form-wrapper .send-form {
  border-radius: 2.5rem;
  width: 13rem;
  height: 5rem;
  font-weight: 500;
  cursor: pointer;
  font-size: 1.8rem;
  color: #ffffff;
  background: #065a60;
  text-shadow: 0px 0.2rem 0.38rem rgba(0, 0, 0, 0.7);
  line-height: 30px;
  box-shadow: 0px 0.2rem 0.38rem rgba(0, 0, 0, 0.3);
  transition: all 0.1s;
}

.form-wrapper .send-form:hover {
  transform: translateY(0.5rem);
  box-shadow: none;
}
