/* GOOGLE FONT */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Simonetta:wght@400;900&family=Spirax&display=swap");
/*/******************** COMMON STYLE /************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-weight: 400;
  border: none;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
/******************** END OF COMMON STYLE *********/

/******************** COLORS ********************/
:root {
  --main: #3d7e83;
}
/******************** END OF COLORS ************/

/******************** HEADER ********************/
header {
  min-height: 10vh;
  background-color: var(--main);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 8rem;

  cursor: default;
}

nav {
  font-size: 2.1rem;
  display: flex;
  justify-content: center;
}

nav .nav-link {
  color: white;
  margin: 0 3rem;
  text-shadow: 0 0.2rem 0.2rem #000;
  transition: all 0.1s;
}

nav .nav-link:hover {
  text-shadow: 0.5rem 0.5rem 0.4rem #000;
  transform: scale(1.1);
}

.social-container {
  height: 4.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 8rem;
}

.social-container i {
  color: black;
  font-size: 2rem;
  border: #000 solid 0.1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-right: 2rem;
  cursor: pointer;
  transition: all 0.2s;
}

.social-container i:hover {
  color: white;
  background-color: #000;
}

header .active {
  color: #000;
  text-shadow: none;
  font-weight: bold;
}

header .active:hover {
  text-shadow: none;
  transform: scale(1) translateY(-0.3rem);
}
/******************** END OF HEADER ********************/

/******************** SECTION ONE ********************/
.section-one {
  min-height: 80vh;
  display: flex;
  margin-top: 10vh;
}

.section-one .tablet-v {
  display: none;
}

.left-side {
  width: 50vw;
  height: 70%;
  display: flex;
  flex-direction: column;
  margin-left: 8rem;
  margin-top: 5rem;
  justify-content: space-evenly;
}

.left-side h1 {
  font-family: "Simonetta", cursive;
  font-weight: 900;
  font-size: 5rem;
}

.left-side h2,
h3 {
  font-weight: 600;
  font-size: 3.9rem;
}

.left-side h3 {
  font-family: "Simonetta", cursive;
  text-shadow: 0 0.2rem 0.3rem #3d7e83;
  margin-bottom: 3rem;
  margin-top: 0.5rem;
}

.bio {
  margin-bottom: 3rem;
}

.bio span {
  font-weight: 700;
  cursor: pointer;
  color: #3d7e83;
  transition: all 0.2s ease;
}

.bio span:hover {
  color: #2a5a5e;
}

.left-side p {
  font-size: 2.4rem;
}

.more-about {
  background-color: #3d7e83;
  width: 60%;
  height: 6.2rem;
  color: white;
  font-size: 2rem;
  border-radius: 0.6rem;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
}

.more-about:hover {
  background-color: #2e5d61;
}

.right-side {
  width: 50vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side img {
  margin-bottom: 20rem;
}
/******************** END OF SECTION ONE ************/

/* RESPONSIVE */

.no-mobile {
  display: none;
}

@media (max-width: 1300px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 1030px) {
  html {
    font-size: 45%;
  }
  .section-one {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section-one .bio,
  .section-one button {
    display: none;
  }

  .section-one .tablet-v,
  .section-one .tablet-v button {
    display: block;
    margin-top: 3rem;
    width: 70%;
    font-size: 2.5rem;
  }

  .section-one .tablet-v {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-container {
    margin-right: 0;
  }

  .section-one h1,
  .section-one h2,
  .section-one h3,
  .section-one p {
    text-align: center;
    margin-top: 1rem;
  }

  .section-one {
    margin-top: 0;
  }

  .right-side img {
    margin: 0;
    padding: 0;
    width: 60rem;
    object-fit: cover;
  }

  .logo {
    margin-left: 1.2rem;
  }
  .logo img {
    width: 15rem;
    object-fit: cover;
  }
}

@media (max-width: 810px) {
  html {
    font-size: 40%;
  }

  .logo {
    display: none;
  }
}

@media (max-width: 730px) {
  html {
    overflow-y: hidden;
  }
  .no-mobile {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #000;
    color: white;
    font-size: 4rem;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }
  header,
  section {
    display: none;
  }
}

/* @media (max-width: 660px) {
  .left-side {
    width: 100%;
    padding: 0;
    margin-right: 0;
    margin-left: 0;
  }
  header {
    display: none;
  }

  .phone-menu {
    display: inline-block;
    font-size: 5rem;
    margin-top: 2rem;
    margin-left: 2rem;
    cursor: pointer;
  }

  .phone-close-style {
    display: inline-block;
    font-size: 5rem;
    margin-top: 2rem;
    margin-left: 2rem;
    cursor: pointer;
    margin-bottom: 3rem;
  }
} */
