/* COMMON STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}
/* END OF COMMON STYLE */

/* COLORS */
:root {
  --main: #3d7e83;
}
/* END OF COLORS */
