/******************** HEADER ********************/

header {
  background-color: white;
  box-shadow: 0.2rem 0.2rem 0.2rem #3d7e83;
}

nav .nav-link {
  color: #3d7e83;
  text-shadow: none;
}

nav .nav-link:hover {
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.295);
  transform: scale(1.1);
}

header .active {
  color: #000;
  text-shadow: none;
  font-weight: bold;
}

header .active:hover {
  text-shadow: none;
  transform: scale(1) translateY(-0.3rem);
}

.social-container i {
  color: #3d7e83;
  border: #3d7e83 solid 0.1rem;
  transition: all 0.2s;
}

.social-container i:hover {
  color: white;
  background-color: #3d7e83;
}

/******************** END OF HEADER ********************/

/******************** SECTION TWO ********************/
.section-two {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  background-color: #000;
}

.project-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-link:nth-child(1) {
  width: 50%;
  height: 50%;
  background-image: linear-gradient(
      rgba(85, 149, 234, 50%),
      rgba(85, 149, 234, 50%)
    ),
    url("images/shapes1.png");
  background-repeat: no-repeat;
}

.project-link:nth-child(2) {
  width: 50%;
  height: 50%;
  background-image: linear-gradient(
      rgba(85, 149, 234, 50%),
      rgba(85, 149, 234, 50%)
    ),
    url("images/p2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.project-link:nth-child(3) {
  width: 50%;
  height: 50%;
  background-image: linear-gradient(
      rgba(255, 189, 0, 50%),
      rgba(255, 189, 0, 37%)
    ),
    url("/images/p3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo img {
  margin-right: 10rem;
}

.project-link:nth-child(4) {
  width: 50%;
  height: 50%;
  background-image: linear-gradient(
      rgba(246, 32, 32, 69%),
      rgba(246, 32, 32, 69%)
    ),
    url("images/shapes4.png");
}
