/******************** SECTION TWO ********************/
.section-two {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  background-color: #000;
}

.project-link {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.project-link img {
  transition: all 0.2s;
}

.logo-project {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.project-link:nth-child(1) {
  width: 50%;
  min-height: 50%;
  background-image: linear-gradient(
      rgba(47, 136, 252, 0.5),
      rgba(6, 91, 202, 0.555)
    ),
    url("images/shapes1.png");
  background-repeat: no-repeat;
}

.project-link:nth-child(2) {
  width: 50%;
  height: 50%;
  background-color: #05051f;
}

.project-link:nth-child(3) {
  width: 50%;
  height: 50%;
  background-color: #ffc304;
}

.project-link:nth-child(4) {
  width: 50%;
  height: 50%;
  background-image: linear-gradient(
      rgba(246, 32, 32, 69%),
      rgba(246, 32, 32, 69%)
    ),
    url("images/shapes4.png");
}

.project-link:hover img {
  transform: scale(1.1) rotate(-10deg);
  object-fit: cover;
}

/* RESPONSIVE */

@media (max-width: 1500px) {
  .project-link:nth-child(1) img,
  .project-link:nth-child(2) img,
  .project-link:nth-child(3) img,
  .project-link:nth-child(4) img {
    width: 90%;
  }
}

@media (max-width: 800px) {
  html {
    overflow-x: hidden;
  }
  .project-link:nth-child(1),
  .project-link:nth-child(2),
  .project-link:nth-child(3),
  .project-link:nth-child(4) {
    width: 100%;
    min-height: 50vh;
  }

  .section-two {
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
  }
}

@media (max-width: 1600px) {
  .project-link:nth-child(2) img,
  .project-link:nth-child(3) img {
    width: 90%;
  }
}
