/******************** SECTION TWO ********************/
.section-two {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  background-color: #000;
}

.project-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-project {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.project-link:nth-child(1) {
  width: 50%;
  height: 50%;
  background-image: linear-gradient(
      rgba(85, 149, 234, 50%),
      rgba(85, 149, 234, 50%)
    ),
    url("images/shapes1.png");
  background-repeat: no-repeat;
}

.project-link:nth-child(2) {
  width: 50%;
  height: 50%;
  background-color: #05051f;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-link:nth-child(3) {
  width: 50%;
  height: 50%;
  background-color: #ffc304;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo-project img {
  margin-right: 10rem;
}

.project-link:nth-child(4) {
  width: 50%;
  height: 50%;
  background-image: linear-gradient(
      rgba(246, 32, 32, 69%),
      rgba(246, 32, 32, 69%)
    ),
    url("images/shapes4.png");
}
