@import url("https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap");

main {
  font-family: "Roboto", sans-serif;
}
/******************** SECTION ONE ********************/
.smile-section-one {
  height: 50rem;
  background: #1f3f6a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.smile-section-one .smile-logo {
  width: 28rem;
  height: auto;
}

.bio {
  color: white;
  font-size: 1.5rem;
  margin-top: 2rem;
  padding-left: 6.5rem;
}

.hint {
  color: white;
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem 2rem;
}

.mockup-header {
  position: absolute;
  width: 22%;
  height: auto;
  object-fit: contain;
  left: 5rem;
  bottom: -0.3rem;
  z-index: 2;
  transition: all 0.2s;
}

.mockup-header:hover {
  transform: translateY(-0.8rem);
  filter: drop-shadow(0.2rem 0.2rem 0.8rem rgba(0, 0, 0, 0.514));
}

.bg-mockup-header {
  position: absolute;
  left: 0;
}
/******************** END OF SECTION ONE ********************/

/******************** SECTION TWO ********************/
.smile-section-two {
  overflow-x: hidden;
  padding-top: 20rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.project-info {
  display: flex;
  justify-content: space-evenly;
}

.project-background {
  width: 30vw;
}

.project-goals {
  width: 30vw;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

p {
  font-size: 2rem;
  font-weight: 300;
  line-height: 180%;
}

.project-goals span {
  font-weight: 400;
}

.project-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.project-preview img {
  width: 20vw;
  transition: all 0.2s;
}

.project-preview img:hover {
  transform: scale(1.02);
  filter: brightness(105%);
}

.circle-background-right {
  width: 70rem;
  height: 70rem;
  border-radius: 50%;
  background-color: #eeebebaf;
  position: absolute;
  right: -35rem;
  z-index: -1;
  top: 30vh;
}

.circle-background-left {
  width: 70rem;
  height: 70rem;
  border-radius: 50%;
  background-color: #eeebeb8e;
  position: absolute;
  left: -35rem;
  z-index: -1;
  top: 60vh;
}
/******************** END OF SECTION TWO **********************/

/******************** SECTION THREE ***************************/
.smile-section-three {
  background-color: rgba(64, 87, 124, 8%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem;
  position: relative;
  overflow-x: hidden;
  z-index: 1;
}

.about-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.smile-section-three h2 {
  font-size: 2.8rem;
  padding-bottom: 2rem;
}

.smile-section-three p {
  font-size: 1.8rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.between-section-circle {
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 40%);
  top: 20rem;
  right: -20rem;
  position: absolute;
  z-index: -1;
}

.users-meet {
  margin-top: 25rem;
}

.users-meet h2 {
  text-align: center;
  margin-bottom: 10rem;
}

.users-meet p {
  padding: 0;
  font-weight: 400;
}

.users-meet span {
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.user-container {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

.user-one {
  width: 30vw;
}

.user-two {
  width: 30vw;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  width: 13rem;
  height: auto;
  object-fit: cover;
}

.user-des {
  margin-left: 5rem;
}

.user-des p {
  letter-spacing: 0.1rem;
}

.user-state {
  position: relative;
}

.user-state p {
  margin-top: 8rem;
}

.user-state p::before {
  content: "";
  height: 125%;
  width: 0.7rem;
  background: linear-gradient(
    180deg,
    #1f3f6a,
    rgba(252, 125, 26, 31%),
    rgba(0, 63, 106, 0%)
  );
  position: absolute;
  left: -3rem;
  top: -1.5rem;
  border-radius: 8rem;
}

.left-bottom-circle {
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 40%);
  bottom: 20rem;
  left: -20rem;
  position: absolute;
  z-index: -1;
}
/******************** END OF SECTION THREE ********************/

/************************ SECTION FOUR ************************/
.smile-section-four {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
}

.smile-section-four img {
  width: 42rem;
  object-fit: cover;
}

.smile-section-four h2 {
  margin-bottom: 2rem;
  font-weight: 500;
}

.smile-section-four p {
  font-weight: 400;
  color: rgba(0, 0, 0, 75%);
}

.competitive-txt {
  width: 80%;
  margin-top: 2rem;
}

.space-p {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.orders-list p {
  margin-left: 2rem;
  position: relative;
}

.orders-list p::before {
  content: "";
  background-color: rgba(0, 0, 0, 75%);
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  position: absolute;
  left: -2rem;
  top: 1.4rem;
}

.horizontal-line {
  margin-top: 10rem;
  margin-bottom: 8rem;
  width: 25vw;
  height: 0.2rem;
  background-color: #d3d2d2cc;
}
/******************** END OF SECTION FOUR ********************/

/************************ SECTION FIVE ***********************/
.smile-section-five {
  background-color: rgba(64, 87, 124, 8%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10rem;
  position: relative;
  overflow-x: hidden;
}

.smile-section-five h2 {
  padding-top: 5rem;
  padding-bottom: 4rem;
}

.smile-section-five p {
  padding-bottom: 7rem;
  padding-left: 10rem;
  padding-right: 10rem;
  font-weight: 400;
}

.left-circle-img {
  position: absolute;
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 40%);
  right: -20rem;
  top: 10rem;
}

.right-circle-img {
  position: absolute;
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 40%);
  left: -20rem;
  top: 50%;
}
/******************** END OF SECTION FIVE ********************/

/************************ SECTION SIX ***********************/
.smile-section-six {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.smile-section-six h2 {
  padding-top: 5rem;
  padding-bottom: 4rem;
}

.smile-section-six p {
  padding-bottom: 2rem;
  padding-left: 10rem;
  padding-right: 10rem;
  font-weight: 400;
}

.smile-section-six img {
  width: 100%;
}
/******************** END OF SECTION SIX ********************/

/************************ SECTION SEVEN ***********************/

.smile-section-seven {
  background-color: rgba(64, 87, 124, 8%);
  position: relative;
  padding-top: 7rem;
}

.smile-section-seven .right-img-bg {
  position: absolute;
  width: 40vw;
  left: 0;
  top: 5rem;
}

.smile-section-seven p {
  padding-bottom: 6rem;
  padding-left: 20rem;
  padding-right: 20rem;
}
.smile-section-seven h2,
p,
img {
  position: relative;
}
/******************** END OF SECTION SEVEN ********************/

/************************ SECTION EIGHT ***********************/
.smile-section-eight {
  padding-top: 7rem;
  padding-bottom: 7rem;
  position: relative;
  overflow-x: hidden;
}

.smile-section-eight p {
  padding-bottom: 7rem;
}

.smile-section-eight img {
  width: 40%;
  height: auto;
  object-fit: cover;
}

.smile-section-eight .horizontal-line {
  width: 15%;
  margin-top: 6rem;
  margin-bottom: 0rem;
}

.smile-section-eight .left-circle-img,
.smile-section-eight .right-circle-img {
  position: absolute;
  background-color: rgba(147, 147, 215, 14%);
}

.smile-section-eight .right-circle-img {
  top: 40%;
  width: 40rem;
  height: 40rem;
}

/******************** END OF SECTION EIGHT ********************/

/************************ SECTION NINE ***********************/
.smile-section-nine {
  background-color: rgba(64, 87, 124, 8%);
}

.smile-section-nine .orders-list p {
  padding-left: 0;
  margin-left: 2rem;
}

.smile-section-nine .orders-list {
  width: 90%;
}
/******************** END OF SECTION NINE ********************/

/************************ SECTION TEN ***********************/
.smile-section-ten {
  background-color: white;
  padding-top: 7rem;
  padding-bottom: 2rem;
}

/******************** END OF SECTION TEN ********************/

/************************ SECTION 11 ***********************/
.smile-section-11 {
  background-color: #f0f2f5;
  position: relative;
}

.smile-section-11 .home-page-image {
  width: 50vw;
  margin-bottom: 10rem;
}

.smile-section-11 h2 {
  padding: 10rem 0;
}

.smile-section-11 p {
  padding-bottom: 10rem;
}

/******************** END OF SECTION 11 ********************/

/************************ SECTION 12 ***********************/
.smile-section-12 {
  margin-top: 5rem;
}

.smile-section-12 h2 {
  text-align: center;
}
/******************** END OF SECTION 12 ********************/

/************************ SECTION 15 ***********************/
.smile-section-15 .boxes-container {
  display: flex;
  margin-top: 5rem;
  justify-content: space-between;
  width: 100%;
}

.boxes-container .box-one,
.box-two {
  display: flex;
  flex-direction: column;
  width: 70rem;
  background-color: #f0f2f5;
  margin-bottom: 10rem;
  border: 0.5rem solid transparent;
  border-image: linear-gradient(
    45deg,
    rgb(82, 137, 211),
    rgba(255, 112, 0, 30%),
    rgb(39, 39, 112)
  );
  border-image-slice: 1;
}

.boxes-container .box-one {
  margin-left: 10rem;
  margin-right: 1rem;
}

.boxes-container .box-two {
  margin-right: 10rem;
  margin-left: 1rem;
}
.boxes-container .box-one h4,
.box-two h4 {
  align-self: center;
  font-weight: bold;
  font-size: 2rem;
  margin: 4rem 0;
}

.boxes-container .box-one p:last-child {
  margin-bottom: 5rem;
}

.boxes-container p {
  position: relative;
  padding-left: 8rem;
  margin-bottom: 1rem;
}

.boxes-container .box-one p,
.box-two p {
  font-size: 1.7rem;
  font-weight: 400;
}

.boxes-container .box-one p::before,
.boxes-container .box-two p::before {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  background: linear-gradient(#0500f8, #fc7d1a);
  border-radius: 50%;
  opacity: 0.75;
  left: 4rem;
  top: 0.9rem;
  position: absolute;
}
/******************** END OF SECTION 13 ********************/

/************************ SECTION 16 ***********************/
.smile-section-16 {
  background-color: #f0f2f5;
}

.smile-section-16 h2 {
  margin-top: 1rem;
}

.smile-section-16 .images-container {
  margin: 5rem 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.smile-section-16 .images-container img {
  width: 15vw;
  object-fit: cover;
}

.shapes {
  background-color: rgba(228, 230, 231, 0.637);
  width: 40rem;
  height: 40rem;
  position: absolute;
  border-radius: 30%;
  transform: rotate(45deg);
  left: 0rem;
  top: 10rem;
}

.shapes2 {
  background-color: rgba(228, 230, 231, 0.637);
  width: 50rem;
  height: 40rem;
  position: absolute;
  border-radius: 30%;
  transform: rotate(45deg);
  right: 10rem;
  top: 10rem;
}
/******************** END OF SECTION 16 ********************/

/************************ SECTION 17 ***********************/
.smile-section-17 {
  margin-top: 5rem;
  background-color: #f0f4f6;
}

.smile-section-17 h2 {
  margin-top: 3rem;
}

.smile-section-17 img {
  width: 45%;
}
/******************** END OF SECTION 17 ********************/

/************************ SECTION 18 ***********************/
.smile-section-18 {
  background-color: #fff;
  margin-bottom: 5rem;
}

.smile-section-18 .header-18 {
  position: relative;
  margin-bottom: 4rem;
}

.smile-section-18 .book-img {
  width: 60%;
}

.smile-section-18 .brush {
  position: absolute;
  width: 25rem;
  top: -1rem;
  left: -11rem;
}

.smile-section-18 .resha {
  position: absolute;
  width: 10rem;
  top: 1.5rem;
  right: -8rem;
}
/******************** END OF SECTION 18 ********************/

/************************ SECTION 19 ***********************/
.smile-section-19 {
  background-color: #f0f4f6;
  padding: 10rem 0;
  height: 100vh;
}

.smile-section-19 img {
  width: 20%;
}
/******************** END OF SECTION 19 ********************/

/************************ SECTION 20 ***********************/
.smile-section-20 {
  background-color: #fff;
  padding-bottom: 10rem;
}

.smile-section-20 h2 {
  margin-bottom: 2rem;
}

.smile-section-20 .par-s20 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.smile-section-20 .par-s20 p {
  font-size: 1.8rem;
  padding-bottom: 4rem;
  line-height: 5rem;
}

.smile-section-20 .par-s20 span {
  font-weight: bold;
  cursor: pointer;
  color: #065a60;
}
/******************** END OF SECTION 20 ********************/

/************************ SECTION 21 ***********************/

.smile-section-21 .boxes-container .box-one p::before {
  display: none;
  visibility: hidden;
}

.smile-section-21 .box-one {
  margin: 0;
}

.smile-section-21 .boxes-container {
  margin-bottom: 20rem;
  padding: 0;
  width: auto;
  height: auto;
}

.smile-section-21 .boxes-container .p-wrapper {
  position: relative;
}

.smile-section-21 .boxes-container .p-wrapper .p-one {
  margin-top: 6rem;
  margin-bottom: 0;
  padding-left: 6rem;
}

.smile-section-21 .boxes-container .p-wrapper .p-two {
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding-left: 6rem;
}

.smile-section-21 .boxes-container .p-wrapper .p-one::after {
  content: "1";
  width: 2.1rem;
  height: 2.1rem;
  background: linear-gradient(#0500f8, #fc7d1a);
  border-radius: 50%;
  color: #fff;
  left: 2rem;
  top: 0.5rem;
  font-size: 1.1rem;
  opacity: 75%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  text-shadow: 0.2rem 0.2rem 0.2rem #000;
}

.smile-section-21 .boxes-container .p-wrapper .p-two::after {
  content: "2";
  width: 2.1rem;
  height: 2.1rem;
  background: linear-gradient(#0500f8, #fc7d1a);
  border-radius: 50%;
  color: #fff;
  left: 2rem;
  top: 0.5rem;
  font-size: 1.2rem;
  opacity: 75%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-shadow: 0.2rem 0.2rem 0.2rem #000;
}

.smile-section-21 img {
  width: 13rem;
  object-fit: cover;
  margin-bottom: 20rem;
}

footer {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #294b7a;
  display: flex;
  flex-flow: column;
  align-items: center;
}

footer h2 {
  color: white;
  font-family: "Rammetto One", cursive;
  font-weight: normal;
  margin-bottom: 5rem;
  width: fit-content;
}

footer .social-container-footer {
  width: 30rem;
  display: flex;
  justify-content: space-between;
}

footer .social-container-footer i {
  font-size: 2rem;
  width: 4.2rem;
  border: 0.1rem white solid;
  cursor: pointer;
  padding: 1rem;
  color: white;
  text-shadow: 0.2rem 0.2rem 0.2rem black;
  margin-bottom: 5rem;
  text-align: center;
  transition: all 0.2s;
}

footer .social-container-footer i:hover {
  border-radius: 0%;
  background-color: #191919;
  transform: scale(1.5);
  border-radius: 50%;
}

footer .social-container-footer i:nth-of-type(2):hover {
  background-color: #ce493b;
}

footer .social-container-footer i:nth-of-type(3):hover {
  background-color: #0a66c2;
}

footer .social-container-footer i:nth-of-type(4):hover {
  background-color: #e34a85;
}

footer p {
  color: white;
  margin-bottom: 1rem;
  opacity: 75%;
}

footer p:nth-of-type(3) {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

footer p:last-child {
  margin: 0;
}

/******************** END OF SECTION 21 ********************/
